body {
	background-color: #f9f9f9;
}
.register, .login, .appointment {
	margin-bottom: 20px;
	padding: 10px;
}
.register form, .login form, .appointment form  {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 7px 3px #ccc;
}
.jumbotron, .well {
	background-color: #fff !important;
    border: 1px solid #ccc;
    box-shadow: 3px 7px 3px #ccc;
}

.panel, .alert {
	box-shadow: 3px 7px 3px #ccc;
}
.clearfix {
	overflow: auto;
}
.pull-right, .pull-left {
	display: inline;
}
h3 {
    margin-top: 10px !important;
}